.AddCelebrityContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}

.AddCelebrityBox {
    background-color: white;
    width: 50vw;
    height: 70vh;
    box-sizing: border-box;
    overflow:auto;
}

.AddCelebrityBox h3 {
    /* padding: 10vh; */
    padding: 5vh;
    margin-bottom: 13vh;
}

.AddCelebrityForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}

.AddCelebrityForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.AddCelebrityForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
    margin: 1vh;
}

#addCelebrityImage > img {
    width: 10vmax;
    height: 10vmax;
    border-radius: 100%;
}
#addCelebrityImage > input {
    padding: 0%;
}

#addCelebrityImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
}
  
#addCelebrityImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
}